<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPI</key>
	<string>创业板指</string>
	<key>SSSC</key>
	<string>上证综指</string>
	<key>SZSC</key>
	<string>深证综指</string>
	<key>CSI300</key>
	<string>沪深300</string>
	<key>IXIC</key>
	<string>纳斯达克</string>
	<key>GSPC</key>
	<string>标普500</string>
	<key>HK</key>
	<string>恒生指数</string>
</dict>
</plist>
