<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserLoginWithInfo</key>
	<string>/m/mobileuserinfo</string>
	<key>GetCompanyInfo</key>
	<string>/m/companyinfo</string>
	<key>FinancialData</key>
	<string>/m/financialdata</string>
	<key>GooGuuView</key>
	<string>/m/googuuview</string>
	<key>UserFindPwd</key>
	<string>/m/findpassword</string>
	<key>UserResetPwd</key>
	<string>/m/editpassword</string>
	<key>UserRegVaildCode</key>
	<string>/m/vaildcode</string>
	<key>UserRegister</key>
	<string>/m/register</string>
	<key>FchartKeyWord</key>
	<string>/m/fchart/keyword</string>
	<key>Fchart</key>
	<string>/m/fchart</string>
	<key>BetaFactorCount</key>
	<string>/m/beta</string>
	<key>RequestValuation</key>
	<string>/m/request</string>
	<key>QueryComList</key>
	<string>/m/query</string>
	<key>FeedBack</key>
	<string>/m/feedback</string>
	<key>DeleteModelData</key>
	<string>/m/deletemodeldata</string>
	<key>GetModelData</key>
	<string>/m/getmodeldata</string>
	<key>AddModelData</key>
	<string>/m/addmodeldata</string>
	<key>AdjustedData</key>
	<string>/m/adjusteddata</string>
	<key>GetStockHistoryData</key>
	<string>/m/getstockhistorydata</string>
	<key>CompanyModel</key>
	<string>/services/data/companyModel/getData.do</string>
	<key>QueryCompany</key>
	<string>/m/queryCompany</string>
	<key>LogOut</key>
	<string>/m/logout</string>
	<key>Login</key>
	<string>/m/login</string>
	<key>UserInfo</key>
	<string>/m/userinfo</string>
	<key>QueryAllCompany</key>
	<string>/m/queryAllCompany</string>
	<key>QueryIpadAllCompany</key>
	<string>/m/queryIpadAllCompany</string>
	<key>DailyStock</key>
	<string>/m/dailystock</string>
	<key>UserStockCalendar</key>
	<string>/m/userstockcalendar</string>
	<key>CompanyReview</key>
	<string>/m/companyreview</string>
	<key>ContentrReply</key>
	<string>/m/contentreply</string>
	<key>Commentary</key>
	<string>/m/commentary</string>
	<key>DeleteAttention</key>
	<string>/m/deleteattention</string>
	<key>AddAttention</key>
	<string>/m/addattention</string>
	<key>AttentionData</key>
	<string>/m/attentiondata</string>
	<key>SavedData</key>
	<string>/m/saveddata</string>
	<key>ArticleURL</key>
	<string>/m/article</string>
	<key>NewestAnalyseReportURL</key>
	<string>/m/newestanalysereports</string>
	<key>CompanyCommentURL</key>
	<string>/m/companyarticles</string>
	<key>CompanyAnalyReportURL</key>
	<string>/m/companyanalysereports</string>
	<key>GooGuuBaseURL</key>
	<string>http://www.googuu.net</string>
</dict>
</plist>
