<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<string>电视广播</string>
	<key>101</key>
	<string>仓储物流</string>
	<key>102</key>
	<string>水务供应</string>
	<key>115</key>
	<string>鞋类</string>
	<key>116</key>
	<string>美容护肤</string>
	<key>117</key>
	<string>超市百货商城</string>
	<key>118</key>
	<string>钟表珠宝</string>
	<key>119</key>
	<string>餐饮</string>
	<key>120</key>
	<string>服饰专营</string>
	<key>121</key>
	<string>汽车及零部件</string>
	<key>122</key>
	<string>汽车零售及维护维修</string>
	<key>123</key>
	<string>广告</string>
	<key>124</key>
	<string>农畜渔产品</string>
	<key>125</key>
	<string>航空服务</string>
	<key>126</key>
	<string>航空支援</string>
	<key>127</key>
	<string>烟酒</string>
	<key>128</key>
	<string>替代能源</string>
	<key>129</key>
	<string>银行</string>
	<key>130</key>
	<string>原材料</string>
	<key>131</key>
	<string>饮品（非酒精类）</string>
	<key>132</key>
	<string>生物科技</string>
	<key>133</key>
	<string>化工产品</string>
	<key>134</key>
	<string>煤炭</string>
	<key>135</key>
	<string>综合企业</string>
	<key>136</key>
	<string>建筑及装修</string>
	<key>137</key>
	<string>建筑材料</string>
	<key>138</key>
	<string>电子消费品</string>
	<key>139</key>
	<string>综合饮食制造</string>
	<key>140</key>
	<string>综合旅游、酒店及食肆</string>
	<key>141</key>
	<string>电子商贸及互联网服务</string>
	<key>142</key>
	<string>电气设备</string>
	<key>143</key>
	<string>供电供热</string>
	<key>144</key>
	<string>电子元器件</string>
	<key>145</key>
	<string>新能源材料</string>
	<key>146</key>
	<string>环保</string>
	<key>147</key>
	<string>化肥农药</string>
	<key>148</key>
	<string>食品加工制造及分销</string>
	<key>149</key>
	<string>林木业</string>
	<key>150</key>
	<string>殡仪</string>
	<key>151</key>
	<string>博彩</string>
	<key>152</key>
	<string>燃气供应</string>
	<key>153</key>
	<string>保健护理用品</string>
	<key>154</key>
	<string>酒店</string>
	<key>155</key>
	<string>家用电器</string>
	<key>156</key>
	<string>工业用品</string>
	<key>157</key>
	<string>基建</string>
	<key>158</key>
	<string>保险</string>
	<key>159</key>
	<string>进出口贸易</string>
	<key>160</key>
	<string>投资及资产管理</string>
	<key>161</key>
	<string>资讯科技器材</string>
	<key>162</key>
	<string>机械装备及器材</string>
	<key>163</key>
	<string>航运及港务</string>
	<key>164</key>
	<string>传媒出版</string>
	<key>165</key>
	<string>医疗器械及服务</string>
	<key>166</key>
	<string>药品</string>
	<key>167</key>
	<string>金属—有色</string>
	<key>168</key>
	<string>金属—钢铁</string>
	<key>169</key>
	<string>采矿</string>
	<key>170</key>
	<string>影视娱乐</string>
	<key>171</key>
	<string>综合媒体企业</string>
	<key>172</key>
	<string>办公室及家居用品</string>
	<key>173</key>
	<string>其他金融</string>
	<key>174</key>
	<string>其他支援服务</string>
	<key>175</key>
	<string>其他纺织或皮革</string>
	<key>176</key>
	<string>造纸</string>
	<key>177</key>
	<string>石油及天然气</string>
	<key>178</key>
	<string>石油天然气设备及服务</string>
	<key>179</key>
	<string>贵金属</string>
	<key>180</key>
	<string>印刷及包装</string>
	<key>181</key>
	<string>地产—港澳</string>
	<key>182</key>
	<string>地产—内地</string>
	<key>183</key>
	<string>地产投资</string>
	<key>184</key>
	<string>物业管理及代理</string>
	<key>185</key>
	<string>公用运输</string>
	<key>186</key>
	<string>房地产投资信託基金</string>
	<key>187</key>
	<string>零售贸易</string>
	<key>188</key>
	<string>公路及铁路</string>
	<key>189</key>
	<string>卫星及航天科技</string>
	<key>190</key>
	<string>证券</string>
	<key>191</key>
	<string>半导体</string>
	<key>192</key>
	<string>造船及其他</string>
	<key>193</key>
	<string>软体及资讯科技顾问</string>
	<key>194</key>
	<string>运动休闲用品</string>
	<key>195</key>
	<string>综合科技</string>
	<key>196</key>
	<string>电讯及网络器材</string>
	<key>197</key>
	<string>电讯服务</string>
	<key>198</key>
	<string>纺织及制衣</string>
	<key>199</key>
	<string>旅游</string>
	<key>210</key>
	<string>保险</string>
	<key>211</key>
	<string>公用事业</string>
	<key>212</key>
	<string>制药、生物科技与生命科学</string>
	<key>213</key>
	<string>医疗保健设备与服务</string>
	<key>214</key>
	<string>半导体与半导体生产设备</string>
	<key>215</key>
	<string>商业和专业服务</string>
	<key>216</key>
	<string>多元金融</string>
	<key>217</key>
	<string>媒体</string>
	<key>218</key>
	<string>家庭与个人用品</string>
	<key>219</key>
	<string>房地产</string>
	<key>220</key>
	<string>技术硬件与设备</string>
	<key>221</key>
	<string>材料</string>
	<key>222</key>
	<string>汽车与汽车零部件</string>
	<key>223</key>
	<string>消费者服务</string>
	<key>224</key>
	<string>电信服务</string>
	<key>225</key>
	<string>耐用消费品与服装</string>
	<key>226</key>
	<string>能源</string>
	<key>228</key>
	<string>资本货物</string>
	<key>229</key>
	<string>软件与服务</string>
	<key>230</key>
	<string>运输</string>
	<key>231</key>
	<string>银行</string>
	<key>232</key>
	<string>零售业</string>
	<key>233</key>
	<string>食品、饮料与烟草</string>
	<key>234</key>
	<string>食品与主要用品零售</string>
	<key>250</key>
	<string>公用事业</string>
	<key>251</key>
	<string>医疗健康</string>
	<key>252</key>
	<string>基础材料</string>
	<key>253</key>
	<string>工业用品</string>
	<key>254</key>
	<string>服务行业</string>
	<key>255</key>
	<string>消费品行业</string>
	<key>256</key>
	<string>科技行业</string>
	<key>257</key>
	<string>金融行业</string>
	<key>258</key>
	<string>集团企业</string>
</dict>
</plist>
